<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid"id="first-element-nav" >
    <div class="navbar-header">
      <a href="/home" class="navbar-brand">Home</a>
    </div>
      <ul class="nav navbar-nav navbar-right" align="right">
        <% if user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><a href="/users/sign_in">Sign in</a></li>
          <li><a href="/users/sign_up">Sign up</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>