<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid"id="first-element-nav" >
    <div class="navbar-header">
      <a href="/home" class="navbar-brand">Home</a>
    </div>
      <ul class="nav navbar-nav navbar-right" align="right">
        <li><a href="/users/sign_in">Sign in</a></li>
        <li><a href="/users/sign_up">Sign up</a></li>
      </ul>
    </div>
  </div>
</nav>